*.iml
.gradle
/local.properties

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio in .gitignore file.
.idea/caches
.idea/modules.xml
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/vcs.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml

.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/markdown-navigator-enh.xml

.idea/perl5local.xml
.idea/perl5shared.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build/
